@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Inter', sans-serif;
}

/* Hero */
#hero {
  background-image: url('/hero.webp');
  background-size: cover;
  background-position: center;
  background-color: rgba(189, 189, 189, 0.397);
}


/* Custom Button */
.custom-btn{
clip-path: polygon(15% 0%, 100% 0, 100% 70%, 85% 100%, 0 100%, 0 30%);
border-radius: 2px;
}


.dashBoardOutLet {
  display: flex;
  justify-content:center ;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 71vh;
}

@layer base {
  @property --color-a {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
  }
  @property --color-b {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
  }
  @property --color-c {
    syntax: "<color>";
    inherits: true;
    initial-value: transparent;
  }
}

@layer components {
  .range {
    appearance: none;
    width: 100%;
    background: white;
    height: 2px;
  }
  .range::-webkit-slider-thumb {
    appearance: none;
    background: var(--color-b);
    border: 2px solid white;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    cursor: pointer;
  }
  .range::-moz-range-thumb {
    appearance: none;
    background: var(--color-b);
    border: 2px solid white;
    width: 36px;
    height: 36px;
    border-radius: 36px;
    cursor: pointer;
  }
}